In [2]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.47

Collecting ipython-sql==0.4.1
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting prettytable<1 (from ipython-sql==0.4.1)
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (2.0.28)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.4.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Collecting jedi>=0.16 (from ipython>=1.0->ipython-sql==0.4.1)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 16.8 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13696 sha256=6ba2d37766c779d1d7f66f5db394094a09576de728f74d3ce7c7b05ed39616f1
  Stored in directory: /root/.cache/pip/wheels/25/4b/07/18c5d92824315576e478206ea69df34a9e31958f6143eb0e31
Successfully built prettytable
Installing collected packages: prettytable, jedi, ipython-sql
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.10.0
    Uninstalling prettytable-3.10.0:
      Successfully uninstalled prettytable-3.10.0
  Attempting uninstall: ipython-sql
    Found existing installation: ipython-sql 0.5.0
    Uninstalling ipython-sql-0.5.0:
      Successfully uninstalled ipython-sql-0.5.0
Successfully installed ipython-sql-0.4.1 jedi-0.19.1 prettytable-0.7.2
Collecting SQLAlchemy==1.4.47
  Downloading SQLAlchemy-1.4.47-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 10.4 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.47) (3.0.3)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.28
    Uninstalling SQLAlchemy-2.0.28:
      Successfully uninstalled SQLAlchemy-2.0.28
Successfully installed SQLAlchemy-1.4.47

In [4]:
%load_ext sql

In [5]:
%sql postgresql://host:port/database

In [ ]:
%%sql

SELECT schema_name
FROM information_schema.schemata;

 * postgresql://de-6-2:***@de-6-2-redsfhit.cvkht4jvd430.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[('raw_data',)]

In [ ]:
%%sql
SELECT * FROM information_schema.schemata;

 * postgresql://de-6-2:***@de-6-2-redsfhit.cvkht4jvd430.ap-northeast-2.redshift.amazonaws.com:5439/dev
0 rows affected.

[]

In [6]:
%%sql
CREATE SCHEMA analytics;

 * postgresql://de-6-2:***@de-6-2-redshift.cvkht4jvd430.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql
SELECT * FROM information_schema.schemata;

 * postgresql://de-6-2:***@de-6-2-redsfhit.cvkht4jvd430.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[('dev', 'raw_data', 'de-6-2', None, None, None, None)]

In [4]:
# one raw_data
%%sql

CREATE TABLE raw_data.flight_offers (
    number_Of_Bookable_Seats INT,
    price_currency VARCHAR(10),
    price DECIMAL(15, 2),
    departure_city_id INT,
    departure_terminal VARCHAR(10),
    departure_datetime TIMESTAMP,
    arrival_city_id INT,
    arrival_terminal VARCHAR(10),
    arrival_datetime TIMESTAMP,
    duration VARCHAR(50),
    cabin_class VARCHAR(50),
    carrier_code VARCHAR(20),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

 * postgresql://de-6-2:***@de-6-2-redshift.cvkht4jvd430.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [13]:
# one analytics
%%sql

CREATE TABLE analytics.flight_offers (
    number_Of_Bookable_Seats INT,
    price_currency VARCHAR(10),
    price DECIMAL(30, 6),
    departure_city_id INT,
    departure_terminal VARCHAR(10),
    departure_datetime TIMESTAMP,
    arrival_city_id INT,
    arrival_terminal VARCHAR(10),
    arrival_datetime TIMESTAMP,
    duration VARCHAR(50),
    cabin_class VARCHAR(50),
    carrier_code VARCHAR(20),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

 * postgresql://de-6-2:***@de-6-2-redshift.cvkht4jvd430.ap-northeast-2.redshift.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateTable) Relation "flight_offers" already exists

[SQL: CREATE TABLE analytics.flight_offers (
    number_Of_Bookable_Seats INT,
    price_currency VARCHAR(10),
    price DECIMAL(30, 6),
    departure_city_id INT,
    departure_terminal VARCHAR(10),
    departure_datetime TIMESTAMP,
    arrival_city_id INT,
    arrival_terminal VARCHAR(10),
    arrival_datetime TIMESTAMP,
    duration VARCHAR(50),
    cabin_class VARCHAR(50),
    carrier_code VARCHAR(20),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [10]:
#to analytics
%%sql

WITH ranked_rows AS (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY
                              departure_city_id, departure_terminal, departure_datetime,
                              arrival_city_id, arrival_terminal, arrival_datetime ORDER BY price) AS row_num
    FROM raw_data.flight_offers
    WHERE arrival_datetime >= CURRENT_DATE
),
latest_exchange_rate AS (
    SELECT 사실_때
    FROM public.exchange_rate
    WHERE cur_unit = 'EUR'
    ORDER BY 검색_시간 DESC
    LIMIT 1
),
selected_rows AS (
    SELECT
        rr.number_Of_Bookable_Seats,
        rr.price_currency,
        rr.departure_city_id,
        rr.departure_terminal,
        rr.departure_datetime,
        rr.arrival_city_id,
        rr.arrival_terminal,
        rr.arrival_datetime,
        rr.duration,
        rr.cabin_class,
        rr.carrier_code,
        rr.price * ler.사실_때 AS price
    FROM ranked_rows rr
    CROSS JOIN latest_exchange_rate ler
    WHERE rr.row_num = 1
),


INSERT INTO analytics.flight_offers (
    number_Of_Bookable_Seats,
    price_currency,
    departure_city_id,
    departure_terminal,
    departure_datetime,
    arrival_city_id,
    arrival_terminal,
    arrival_datetime,
    duration,
    cabin_class,
    carrier_code,
    price
)
SELECT *
FROM selected_rows;

 * postgresql://de-6-2:***@de-6-2-redshift.cvkht4jvd430.ap-northeast-2.redshift.amazonaws.com:5439/dev
(psycopg2.errors.SyntaxError) syntax error at or near "INTO"
LINE 34: INSERT INTO analytics.flight_offers (
                ^

[SQL: WITH ranked_rows AS (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY
                              departure_city_id, departure_terminal, departure_datetime,
                              arrival_city_id, arrival_terminal, arrival_datetime ORDER BY price) AS row_num
    FROM raw_data.flight_offers
    WHERE arrival_datetime >= CURRENT_DATE
),
latest_exchange_rate AS (
    SELECT 사실_때
    FROM public.exchange_rate
    WHERE cur_unit = 'EUR'
    ORDER BY 검색_시간 DESC
    LIMIT 1
),
selected_rows AS (
    SELECT
        rr.number_Of_Bookable_Seats,
        rr.price_currency,
        rr.departure_city_id,
        rr.departure_terminal,
        rr.departure_datetime,
        rr.arrival_city_id,
        rr.arrival_terminal,
        rr.arrival_datetime,
        rr.duration,
        rr.cabin_class,
        rr.carrier_code,
        rr.price * ler.사실_때 AS price
    FROM ranked_rows rr
    CROSS JOIN latest_exchange_rate ler
    WHERE rr.row_num = 1
),
INSERT INTO analytics.flight_offers (
    number_Of_Bookable_Seats,
    price_currency,
    departure_city_id,
    departure_terminal,
    departure_datetime,
    arrival_city_id,
    arrival_terminal,
    arrival_datetime,
    duration,
    cabin_class,
    carrier_code,
    price
)
SELECT *
FROM selected_rows;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [7]:
# round raw_data
%%sql

CREATE TABLE raw_data.flight_offers_round (
    number_Of_Bookable_Seats INT,
    price_currency VARCHAR(10),
    price DECIMAL(15, 2),
    departure_city_id INT,
    departure_terminal VARCHAR(10),
    departure_datetime TIMESTAMP,
    arrival_city_id INT,
    arrival_terminal VARCHAR(10),
    arrival_datetime  TIMESTAMP,
    carrier_code VARCHAR(20),
    duration VARCHAR(50),
    return_departure_city_id INT,
    return_departure_terminal VARCHAR(10),
    return_departure_datetime TIMESTAMP,
    return_arrival_city_id INT,
    return_arrival_terminal VARCHAR(10),
    return_arrival_datetime TIMESTAMP,
    return_duration VARCHAR(50),
    cabin_class VARCHAR(50),
    return_cabin_class VARCHAR(50),
    return_carrier_code VARCHAR(20),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

 * postgresql://de-6-2:***@de-6-2-redshift.cvkht4jvd430.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [15]:
# round analytics
%%sql

CREATE TABLE analytics.flight_offers_round (
    number_Of_Bookable_Seats INT,
    price_currency VARCHAR(10),
    price DECIMAL(30, 4),
    departure_city_id INT,
    departure_terminal VARCHAR(10),
    departure_datetime TIMESTAMP,
    arrival_city_id INT,
    arrival_terminal VARCHAR(10),
    arrival_datetime  TIMESTAMP,
    carrier_code VARCHAR(20),
    duration VARCHAR(50),
    return_departure_city_id INT,
    return_departure_terminal VARCHAR(10),
    return_departure_datetime TIMESTAMP,
    return_arrival_city_id INT,
    return_arrival_terminal VARCHAR(10),
    return_arrival_datetime TIMESTAMP,
    return_duration VARCHAR(50),
    cabin_class VARCHAR(50),
    return_cabin_class VARCHAR(50),
    return_carrier_code VARCHAR(20),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

 * postgresql://de-6-2:***@de-6-2-redshift.cvkht4jvd430.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.

[]